@{
    ViewBag.Title = "Password Reset Request";
}

<h2>Password Reset</h2>

@using (Html.BeginForm("PasswordResetInit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <div class="text-info" style="padding-bottom: 25px;">Click below to receive an email with instructions on how to reset your password.</div>

    @Html.Hidden("userID", (string)ViewBag.UserID);
    <div>
        <input type="submit" class="btn btn-primary" name="SendEmail" value="Send Email" />
    </div>
}